<h1>Users_一覧_#index_top</h1>
   <!-- bookers2views_users_index -->
   
  <!-- ユーザーの投稿一覧 -->
  
  <% @books_lists.each do |book_image| %>
  
    <div>
  
      <p>投稿ユーザー画像：<%= image_tag book_image.user.get_profile_image(100,100) %></p>
  
      <p>ショップ名：<%= book_image.shop_name %></p>
  
      <p>説明：<%= book_image.caption %></p>
  
      <p>ユーザーネーム：<%= book_image.user.name %></p>
  
    </div>
  <% end %>
  
  
 