<h1>books_show#top</h1>
  <!-- bookers2_views_books_show 投稿の詳細-->

  
<main>
  
  <p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-1">
        
        <h2>Book detail</h2>
        
        <table class="table">
          <tbody>
            <tr>
              <td>
                <%= image_tag @book.user.get_profile_image(100,100) %>
                  <!-- image_tag Bookscontroller_show_@book.その中にあるuserデータを抜き出す.get_profile_image(100,100) -->
              </td>
                <!-- User#showへ遷移 -->
                
              <td>
                <%= link_to @book.title, book_path(@book.id) %>
              </td>
                <!-- books#showへ遷移？? -->
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
        
      </div>
  <!--<div>-->
  <!--<%= @book.title %>-->
  
  
  <!--<%= @book.body %>-->
  <!--</div>-->
    </div>
  </div>
</main>