<!-- homes_about_top ページ 完了-->

  <main>
    <p id="notice"></p>
    
      <div class="container">
        <div class="row">
          <h1 class="px-3 mx-auto">
            Welcome to 
            <i class="fas fa-book">
             <!-- 本のアイコン? -->
            </i>
            <strong>Bookers</strong>
            <!-- 改行せず連投できる -->
             !
          </h1>
        </div>
      </div>
  </main>
  
