<!-- bookers2_homes_top_ページ 完了-->

<html>
  
    <!-- フラッシュメッセージ投稿成功時 -->
  <div>
    <%= flash[:notice] %>
  </div>
  
  <main>
    <p id="notice"></p>
    
    <div class="container">
      <div class="row">
        <div class="mx-auto auto col-11 col-sm10 col-lg-8 col-xl-6">
            <!-- welcom_to_Bookers -->
          <h1>  
              welcome to 
            <i class="fas fa-book">
              <!-- 本のアイコン -->
            </i>
            
            <strong>
              Bookers
            </strong>
            <!-- 改行せず連投できる -->
              !
          </h1>
            <!-- In_Bookers -->
          <p>
            In
              
            <i class="fas fa-book" aria-hidden="true">
              <!-- 本のアイコン -->
            </i>
            
            <strong>Bookers</strong>
              <!-- 改行せず連投できる -->
                ,
          </p>
            <!-- text -->
          <p>
            you can share and exchange your opinions , inpressions , and emotins
          </p>
            <!-- text -->
          <p>
            about various books!
          </p>
          
          <div class="btn-wrapper col-10 mx-auto">
              <!-- ログイン -->
            <div class="row">
              <%= link_to "Log in", new_user_session_path,class:"btn btn-info btn-sm btn-block Log in" %>
            </div><br>
              <!-- サインイン -->
            <div class="row">
              <%= link_to "Sign up", new_user_registration_path,class:"btn btn-success btn-sm btn-block sign_up" %>
            </div>
              
          </div>
            
        </div>
      </div>
    </div>
    
  </main>
  
</html>


